{{ define "main" }}
    <h1>{{ .Params.shortTitle }} - {{ .Params.version }}</h1>
    <pre style="font-size:120%"><b>~/src/repo$</b> {{ .Title }}</pre>
    <pre class="cli">{{.RawContent}}</pre>
    <div class="other-versions dropdown">
        <h3 class="dropbtn">Other versions</h3>
        <div class="dropdown-content">
            {{ $currVersion := .Params.version}}
            {{ $currTitle := .Title}}
            {{ range .Parent.Pages.ByWeight }}
                {{ if eq .Params.title $currTitle }}
                    {{ if ne .Params.version $currVersion }}
                        <div><a style="padding-right: 1em;" href="{{ .Permalink }}">{{ .Params.version }}</a></div>
                    {{ end }}
                {{ end }}
            {{ end }}
        </div>
    </div>
{{ end }}